<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <div class="col-sm-12">
      <label for="nome">Nome</label>
    </div>
    <div class="col-sm-12">
      <input
        type="text"
        class="form-control"
        formControlName="nome"
        id="nome"
        placeholder="Nome"
        [ngClass]="aplicaCssErro('nome')"
      />
      <div class="alert alert-danger" *ngIf="verificaValidTouched('nome')">
        Nome é obrigatório!
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-12">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        formControlName="email"
        id="email"
        placeholder="email@email.com"
        [ngClass]="aplicaCssErro('email')"
      />      
      <div class="alert alert-danger" *ngIf="verificaValidTouched('email')">
        E-mail é obrigatório!
      </div>
      <div class="alert alert-danger" *ngIf="verificaEmailValido()">
        E-mail é inválido!
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Enviar</button>
  <button class="btn" (click)="resetar()">Cancelar</button>

  <app-form-debug [form]="formulario"></app-form-debug>
</form>
